@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.emerald.300');
    --shiki-token-string: theme('colors.emerald.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.emerald.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
    background: #e5e5e5 !important;
  }
  .dark ::-webkit-scrollbar {
    background: #262626 !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #a3a3a3 !important;
    border-radius: .375rem;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #525252 !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
